version: "3.8"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: besarsafe
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/besarsafe?schema=public"
      UPLOAD_DIR: "/app/public/uploads"
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - ./public/uploads:/app/public/uploads

volumes:
  db-data: